body {
    background-color: rgb(24, 24, 32);
    color: rgb(255, 255, 255);
    font-family: 'Azeret Mono', monospace, serif;
}

p {
    margin: 2px 0;
}

#fail {
    color: rgb(255, 99, 71);
}

table, th {
    border: solid;
    border-width: 1px;
    border-color: white;
}
td {
    border-bottom: solid;
    border-width: 1px;
    border-color: white;
    padding: 10px;
    padding-right: 50px;
}
tr:first-child {
    background-color: rgb(89, 117, 141);
}

.passwordText {
    user-select: all;
}

.newPasswordFilter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background-color: #00000078;
}
.newPasswordPanel {
    background-color: white;
    width: 167px;
    height: auto;
    padding: 50px;
    margin: 50px auto;
}
.newPasswordAdd {
    color: #57b0ff;
    text-decoration-line: underline;
    cursor: pointer;
    user-select: none;
    margin: 5px 0;
    display: block;
}
